* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.App {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
  background-color: black;
  border-radius: 10px;
  color: white;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.userList {
  display: grid;
  grid-template-columns: 1fr 100px 100px;
}

.userList p {
  width: fit-content;
  text-transform: capitalize;
  cursor: pointer;
}

.userList span {
  width: fit-content;
  background-color: orange;
  padding: 3px 12px;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.delete {
  background-color: red;
  padding: 3px 12px;
  border-radius: 2px;
}

.App h1 {
  text-align: center;
}

.details {
  text-align: center;
  background-color: white;
  color: black;
  width: fit-content;
  margin: auto;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.details h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 0.3rem;
}

.App h2 {
  text-align: center;
  cursor: pointer;
  background-color: rgb(23, 23, 252);
  width: fit-content;
  margin: auto;
  padding: 4px 12px;
  margin-top: 1rem;
  border-radius: 2px;
}

.addUser {
  background-color: white;
  padding: 2rem;
  width: 60%;
  margin: auto;
  border-radius: 10px;
}
.addUser form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addUser fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem;
}

.addUser label {
  display: inline-block;
  margin-bottom: 0.2rem;
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
}

.addUser input {
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: 0;
  background-color: rgb(231, 231, 231);
  font-size: 1rem;
}

.addUser button {
  margin-top: 1rem;
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.info {
  color: orangered;
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.9;
}
